@model DataCenterConnectDB.Models.LoginContact
<h2>EditLoginContact</h2>

<br />

<form method="post" action="/Login/EditLoginContact">
    <div class="form-group row">
        <label for="inputcharName" class="col-sm-2">
            編號
        </label>
        <div class="col-sm-10">
            <input type="text" id="inputcharname" name="LoginNum" class="form-control" value="@Model.LoginNum" readonly />
        </div>
    </div>
    <div class="form-group row">
        <label for="inputcharName" class="col-sm-2">
            身分證字號
        </label>
        <div class="col-sm-10">
            <input type="text" id="inputcharName" name="INDO" class="form-control" value="@Model.INDO" />
        </div>
    </div>
    <div class="form-group row">
        <label for="inputcardName" class="col-sm-2">
            密碼
        </label>
        <div class="col-sm-10">
            <input type="text" id="inputcardName" name="PW" class="form-control" value="@Model.PW" />
        </div>
    </div>
    <input class="btn btn-default" type="submit" value="儲存" />
</form>

<style>
    h6 {
        text-indent: -36px;
        padding-left: 36px;
    }

    .content li {
        list-style: none;
        text-indent: -36px;
        padding-left: 36px;
    }
</style>






