@using DataCenterConnectDB.Models;

<style>
    h6 {
        text-indent: -36px;
        padding-left: 36px;
    }

    .content li {
        list-style: none;
        text-indent: -36px;
        padding-left: 36px;
    }
</style>

<main>
    <div class="page-section">
        <div class="container">

            <br>
            <h2><b>三軍總醫院大數據醫療資料使用聲明書</b></h2>

            <form>
                <div class="form-group row">
                    <label for="name" class="col-sm-2 col-form-label">本人</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" placeholder="申請者姓名">
                    </div>
                </div>
                <p> 茲向三軍總醫院數據中心 (以下簡稱本中心)申請使用相關資料以進行:</p>
                <div class="form-group row">
                    <label for="planame" class="col-sm-2 col-form-label">研究計畫名稱:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="planame">
                    </div>
                </div>
            </form>

            <p>
                研究之用，並同意遵守下列各項規定：
            </p>

            <h6>
                一、	申請者須符合作業規定所明訂之申請資格，<b>需填寫三軍總醫院大數據醫療資料申請單及之後檢附三軍總醫院人體試驗審議會(IRB)審查通過證明文件(含計畫書)。申請案計畫名稱及內容，與所檢附之IRB內容應相符</b>，且不得有造假或過期等情形，若經查證有造假或過期等情形屬實，除撤銷或退回申請案外，相關法律責任由申請案相關人員自行承擔。
            </h6>

            <h6>
                二、	遵守「個人資料保護法」及相關法令之規定，如有違誤自負所有法律上責任，離職後亦同。
            </h6>

            <h6>
                三、	使用及發表本中心所提供之資料時，應負保密之責，不得任意將原始資料對外發表或他用，不得因任何理由侵犯個人隱私權或藉以辨識個別單位，亦不得作為其他非統計分析之目的及用途，如因而致生損害於他人者，應自負法律責任。
            </h6>

            <h6>
                四、	不得以任何方式複製資料檔案或將資料檔案提供給研究申請者以外之他人或機構使用。
            </h6>

            <h6>
                五、	在出版或發表後一個月之內，應提供一份論著電子檔送本中心存查，以利參考；若未提供，本單位可拒絕下次申請案。
            </h6>

            <h6>
                六、	資料使用有效期限不得超過IRB核准期限，逾時需重新申請。使用期限到期時需提供銷毀證明。
            </h6>

            <h6>
                七、	運用研究資料庫申請資料研究結束後，請註明保存期限及屆滿時需提供銷毀證明並載明資料銷毀處理的方式。
            </h6>

            <h6>
                八、	如違反使用本資料庫相關規定時，除繳回所有資料且提供銷毀證明外，本中心得停止本人及研究團隊申請使用本資料庫之權利。
            </h6>

            <h6>
                九、	申請者通過申請審核後，方得使用所申請資料，並有於申請前先瞭解本中新是否能提供符合需求之資料，若違反所有相關法令規定所致一切後果，皆由本人負全部責任。
            </h6>
            <br>

            <p> <b>本人確認已詳細閱讀相關規定，並完全瞭解其內容，願同意遵守之。</b></p>

            <br>

            <p><b> 本人(申請者)：　 　　　　　       　   (簽章)  日期：   　　年　　月　　日</b></p>

            <br>

            @section Scripts
{
                <script>
                    function myFunction() {
                        window.print();
                    }</script>
            }

            <div class="container" id="box">
                <div class="row well">
                    <button type="button" class="btn btn-primary d-print-none" onclick="javascript:print()">列印文件</button>
                </div>
            </div>
        </div> <!-- .container -->
    </div> <!-- .page-section -->
</main>