@{
    ViewBag.Title = "作業規定";
}

<style>
    h6 {
        text-indent: -36px;
        padding-left: 36px;
    }

    .content li {
        list-style: none;
        text-indent: -36px;
        padding-left: 36px;
    }
</style>

<main>
    <div class="page-section">
        <div class="container">
            <br>
            <h2><b>@ViewData["Title"]</b></h2>

            <p> 中華民國110年12月第一次修訂</p>
            

            <h6>
                十五、	本辦法未盡事宜。
            </h6>
        </div> <!-- .container -->
    </div> <!-- .page-section -->
</main>