@{
    ViewBag.Title = "三軍總醫院大數據醫療資料申請作業規定";
}

<style>
    h6 {
        text-indent: -36px;
        padding-left: 36px;
    }

    .content li {
        list-style: none;
        text-indent: -36px;
        padding-left: 36px;
    }
</style>

<main>
    <div class="page-section">
        <div class="container">
            <br>
            <h2><b>@ViewData["Title"]</b></h2>

            <p> 中華民國110年12月第一次修訂</p>
            <h6>
                一、	國防醫學院三軍總醫院 (以下簡稱本院) 與所屬各分院 (以下簡稱分院) 為因應大數據時代，鼓勵同仁利用醫療資料提升醫療品質、擴展研究能量及促成數據決策，並符合「醫療法」、「人體試驗管理辦法」、「人體研究法」、「人體生物資料庫管理條例」、「個人資料保護法」、「電子病歷相關資料管理作業要點」及「資訊安全要點」等相關規定，特訂定三軍總醫院大數據醫療資料申請作業規定(以下簡稱本規定)。
            </h6>
            <h6>
                二、	本院設置三軍總醫院大數據醫療資料委員會(以下簡稱本委員會)，針對相關資料庫之管理及應用等相關事項進行審查及監督，其中由本院院長負責督導執行情形並選任適員擔任委員會主席，任期為一任2年，並由委員會主席提名其他委員人選供本院院長勾選，委員會委員數不得少於5人。委員會下設置專任幹事一名，負責日常資料收集及案件審查等相關行政流程。
            </h6>
            <h6>
                三、	本院非數據中心同仁若欲透過本院數據中心申請醫療資料，不論其應用目的，皆須事先依照需求相關申請表單（如附件），並遞交申請單於本委員會幹事，委員會將定時召開審查提交案件內容，審核通過者方可透過本院數據中心進行資料收集，以維護資訊安全及病人隱私。
            </h6>
            <h6>
                四、	依據不同資料申請案件使用目的，將分成2大類案件進行管理：
            </h6>
            <ul class="content">
                <li>
                    （1）學術使用和
                </li>
                <li>
                    （2）醫療使用，委員會有權重新認定申請案件的使用目的。
                </li>
            </ul>
            <h6>
                五、	學術使用資料需提交案件並完成相關表單後，會邀請申請人與委員會進行初步計畫約談會議，由委員會初步討論是否核准進行，核准後申請人需將計畫送至所屬之人體試驗審議會審查。取得核准證明文件後，會請申請人於委員會中簡短報告研究內容，並由委員會決議提供哪些資料可供研究人員攜出，資料攜出時將由負責工程師以病歷號進行雙重加密，保證資料間彼此可進行串聯但無法連結到病人資料。
            </h6>
            <h6>
                六、	醫療使用資料需提交案件並完成相關表單後，會邀請申請人與委員會進行初步計畫約談會議，由委員會初步討論是否核准進行，核准後不一定需送至所屬之人體試驗審議會審查，但委員會有權要求特定案件提供人體試驗審議會員會審核准文件。會請申請人於委員會中簡短報告研究內容，並由委員會決議是否核准進行。醫療使用資料不特別進行去聯結處理，但資料不可供申請人員攜出，申請人需親自或委由工程師在醫院內網環境中進行資料處理及應用，以保證病人資料安全。
            </h6>
            <h6>
                七、	申請資格:
            </h6>

            <ul class="content">
                <li>
                    (一)	本院(含分院)專任主治醫師、國防醫學院專任教師或為本院兼任(滿一年)之主治醫師，或本院專任住院醫師、臨床研究人員、行政、醫事人員、護理人員、教學等正職人員或相關業管人員(含軍職、教職、公職及聘僱人員)。
                </li>
                <li>
                    (二)	非上述資格人員，須經由專案審核同意。
                </li>
            </ul>
            <h6>
                八、	申請流程及審查程序:
            </h6>
            <ul class="content">
                <li>
                    (一)	申請人提出申請，填寫需求相關申請表單（如附件），經部科(系)主任核簽後送至本委員會審核，會邀請申請人進行初步約談會議，由委員會討論是否核准進行，核准後依據會議討論內容送件至「研究倫理委員會」審查。
                </li>
                <li>
                    (二)	取得「研究倫理委員會核准證明文件」後，再次邀請申請人在委員會中提案，由委員會主席核定，始得提供申請人相關資料。
                </li>
                <li>
                    (三)	申請人須擬定明確資料蒐集之執行方案，修改方案次數以3次為限，如超過修改次數則需再次至委員會中重新提案。
                </li>
                <li>
                    (四)	確認資料蒐集執行方案後，簽署同意書後不再新增修訂需求，工程師會根據需求開始撈取資料。
                </li>
                <li>
                    (五)	因資料申請需經過工程師處理，委員會有權決定案件優先順序。
                </li>
                <li>
                    (六)	資料申請程序結案後，委員會有權要求申請人於半年後在委員會上報告學術研究/醫療應用成果，以供未來做為資料釋出績效評估之用。
                </li>
            </ul>
            <h6>
                九、	資料庫使用原則:
            </h6>
            <ul class="content">
                <li>
                    (一)	申請人如需攜出資料至醫院內網環境外，所攜出之資料需經由加密程序確保無法辨識至個人。
                </li>
                <li>
                    (二)	如因應醫療使用需要未去聯結之資料，則資料不得攜出醫院內網環境，相關成果僅能以統計摘要表形式攜出。
                </li>
                <li>
                    (三)	未去聯結之資料服務申請者，需使用本委員會設置之專用電腦主機查詢、儲存及分析資料，未經同意不得以任何方式複製加值資料檔案，亦不得將檔案提供他人使用。
                </li>
                <li>
                    (四)	學術使用資料之檔案使用期限最多為三年，計畫主持人應依照人體試驗審議會審查通過之研究資料保存期限，期限屆滿時應立即辦理銷毀程序，並填寫三軍總醫院整合研究資料庫結案單。醫療使用資料原則上則不限時，直至醫療服務結束為止。
                </li>
            </ul>
            <h6>
                十、	申請變更流程:
            </h6>
            <ul class="content">
                <li>
                    (一)	以下情形應申請變更：業務調整或人員異動，需新增資料處理人員;原申請之資料之欄位數等因需求需要變更者。
                </li>
                <li>
                    (二)	申請人申請變更資料時，應重新編寫計畫書，並依需要檢附「研究倫理委員會核准證明文件」，向本委員會申請核可。
                </li>
            </ul>
            <h6>
                十一、	資料回饋:
            </h6>
            <ul class="content">
                <li>
                    (一)	運用本院提供資料者，發表任何形式之成果分析，均應載明資料來源為「三軍總醫院 (Tri-service General Hospital)」。
                </li>
                <li>
                    (二)	申請人應於研究結束後六個月之內提供一份成果報告摘要交予本委員會存查，以利參考。發表論文者，則應提供全文；國內外學會發表口頭報告及海報者，應提供全文及報告證明。
                </li>
            </ul>
            <h6>
                十二、	申請人對於取得資料之使用，僅限使用於本委員會核准之範圍，且不得將權限提供給他人使用，或試圖與其他資料比對進行個資辨識。
            </h6>

            <h6>
                十三、	如有違反本辦法規定而使用之情形者，本委員會將停止其相關資料之申請及使用權利; 如行為涉及相關法律責任應自行負責，如屬研究相關事件，醫研室應轉知研究倫理委員會審理，其他事件則送請相關委員會議處。
            </h6>

            <h6>
                十四、	資料使用者如違反本管理作業規定或其他相關法規，其使用權立即終止，除須立即繳回原所申請之資料且不得保留任何備份或相關檔案，亦停止其個人或單位申請及使用本資料庫之權利，並保留法律責任之追訴權。
            </h6>

            <h6>
                十五、	本辦法未盡事宜，應依中華民國相關法令及本院相關規範辦理。
            </h6>
        </div> <!-- .container -->
    </div> <!-- .page-section -->
</main>