@using DataCenterConnectDB.Models;

<main>
    <div class="page-section">
        <div class="container">

            <h2><b>三軍總醫院大數據醫療資料申請</b></h2>
            <form>
                <h5>※ 基本資料</h5>

                <div class="row mb-3">
                    <div class="col">
                        <h6><label for="exampleFormControlInput1">申請人姓名</label></h6>
                        <input type="text" class="form-control" id="ApplyName">
                    </div>
                    <div class="col">
                        <h6><label for="exampleFormControlInput2">聯絡人姓名</label></h6>
                        <input type="text" class="form-control" id="ContractName">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <h6><label for="exampleFormControlInput1">申請人身分證字號</label></h6>
                        <input type="text" class="form-control" id="ApplyIDNO">
                    </div>
                    <div class="col">
                        <h6><label for="exampleFormControlInput2">聯絡人身分證字號</label></h6>
                        <input type="text" class="form-control" id="ContractIDNO">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <h6><label for="exampleFormControlInput3">申請人服務單位/科別</label></h6>
                        <input type="text" class="form-control" id="ApplyDepartment" placeholder="國防醫學院醫學系">
                    </div>
                    <div class="col">
                        <h6><label for="exampleFormControlInput4">聯絡人服務單位/科別</label></h6>
                        <input type="text" class="form-control" id="ContractDepartment" placeholder="三總耳鼻喉科">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <h6><label for="exampleFormControlInput3">申請人職稱</label></h6>
                        <input type="text" class="form-control" id="ApplyPosition" placeholder="國防醫學院醫學系">
                    </div>
                    <div class="col">
                        <h6><label for="exampleFormControlInput4">申請人職稱</label></h6>
                        <input type="text" class="form-control" id="ContractPosition" placeholder="三總耳鼻喉科">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <h6><label for="exampleFormControlInput5">申請人連絡電話</label></h6>
                        <input type="text" class="form-control" id="ApplyPhone">
                    </div>
                    <div class="col">
                        <h6><label for="exampleFormControlInput6">聯絡人連絡電話</label></h6>
                        <input type="text" class="form-control" id="ContractPhone">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <h6><label for="exampleFormControlInput7">申請人連絡e-mail</label></h6>
                        <input type="email" class="form-control" id="ApplyEmail">
                    </div>
                    <div class="col">
                        <h6><label for="exampleFormControlInput8">聯絡人連絡e-mail</label></h6>
                        <input type="email" class="form-control" id="ContractEmail">
                    </div>
                </div>

                <div class="form-group">
                    <h6><label for="exampleFormControlSelect1">申請資料屬性</label></h6>
                    <select class="form-control" id="ApplyType">
                        <option>學術使用</option>
                        <option>醫療使用</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput9">申請案名</label>
                    <input type="text" class="form-control" id="ApplyName">
                </div>

                <div class="form-group">
                    <label class="">申請期限</label>
                    <br>
                    <input type="text" name="daterange" id="ApplyDate" />
                </div>


                <br>

                <div class="row m-0">
                    <h5>※ 參與研究與處理資料人員清冊</h5>
                    <table class="table table-hover my-2">
                        <thead class="">
                            <tr>
                                <th>No</th>
                                <th>姓名</th>
                                <th>身分證字號</th>
                                <th>單位/職稱</th>
                                <th>連絡電話</th>
                                <th>Email</th>
                                <th>刪除</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>

                    </table>
                </div>

                <div class="row m-0">
                    <button type="button" class="btn btn-primary d-print-none" onclick="addRow()">新增</button>
                </div>

                <p><h6>註: 計畫主持人提出資料申請單取得資料後，如欲變更使用方法或使用範圍，皆視為變更申請內容，應該重新提出資料申請單，並經由本中心委員會審查通過後，方能重新申請相關資料。</h6></p>
                <p><h6><b>本人(申請者)：　 　　　　　 　   (簽章) 日期： 　　年　　月　　日</b></h6></p>
                <br>
                <p><h6><b>申請者主管簽章：　 　　　　　 　 (簽章) 日期： 　　年　　月　　日</b></h6></p>
                <br>

                <div class="form-group">
                    <h5><label for="exampleFormControlTextarea1">※ 資料用途描述(500字以內摘要)</label></h5>
                    <textarea class="form-control" id="ApplyDescribe" rows="10"
                              placeholder="舉例:
(一) 預期進行之研究設計
敘述型研究 (descriptive study)
橫斷式研究 (cross-sectional study)
世代研究 (cohort study)…
(二) 研究核心問題類型簡述
發生率、盛行率研究 /疾病監測
臨床介入之使用率與相關因子研究
疾病成因與共病症關聯性研究…"></textarea>
                </div>
                <div class="form-group">
                    <h5>
                        <label for="exampleFormControlTextarea1">※ 所需資料內容及使用範圍(不限字數)</label>
                    </h5>
                    <textarea class="form-control" id="ApplyContent" rows="10"
                              placeholder="舉例:
內容舉例:
(一)	研究對象入選條件
1.	年齡18歲以上之糖尿病患者(診斷碼為ICD-9: 250.xx)
(二)	研究對象排除條件
1.	有癌症病史
(三)	結果變項(依變項)定義
1.	主要結果變項為死亡; 次要結果變項為住院天數
(四)	解釋變項(自變項)定義
1.	介入; 用藥; 疾病病史
(五)	其他解釋變項(自變項)或干擾因子定義
(六)	主要參考文獻(至少兩篇、至多五篇)
(七)	資料使用範圍
"></textarea>

                </div>
                <br>
                <hr>

                <h2><b>三軍總醫院大數據醫療資料使用聲明書</b></h2>

                <div class="form-group row">
                    <label for="name" class="col-sm-2 col-form-label">本人</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" placeholder="申請者姓名">
                    </div>
                </div>
                <p> 茲向三軍總醫院數據中心 (以下簡稱本中心)申請使用相關資料以進行:</p>
                <div class="form-group row">
                    <label for="planame" class="col-sm-2 col-form-label">研究計畫名稱:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="planame">
                    </div>
                </div>
            </form>

            <p>
                研究之用，並同意遵守下列各項規定：
            </p>

            <h6>
                一、	申請者須符合作業規定所明訂之申請資格，<b>需填寫三軍總醫院大數據醫療資料申請單及之後檢附三軍總醫院人體試驗審議會(IRB)審查通過證明文件(含計畫書)。申請案計畫名稱及內容，與所檢附之IRB內容應相符</b>，且不得有造假或過期等情形，若經查證有造假或過期等情形屬實，除撤銷或退回申請案外，相關法律責任由申請案相關人員自行承擔。
            </h6>

            <h6>
                二、	遵守「個人資料保護法」及相關法令之規定，如有違誤自負所有法律上責任，離職後亦同。
            </h6>

            <h6>
                三、	使用及發表本中心所提供之資料時，應負保密之責，不得任意將原始資料對外發表或他用，不得因任何理由侵犯個人隱私權或藉以辨識個別單位，亦不得作為其他非統計分析之目的及用途，如因而致生損害於他人者，應自負法律責任。
            </h6>

            <h6>
                四、	不得以任何方式複製資料檔案或將資料檔案提供給研究申請者以外之他人或機構使用。
            </h6>

            <h6>
                五、	在出版或發表後一個月之內，應提供一份論著電子檔送本中心存查，以利參考；若未提供，本單位可拒絕下次申請案。
            </h6>

            <h6>
                六、	資料使用有效期限不得超過IRB核准期限，逾時需重新申請。使用期限到期時需提供銷毀證明。
            </h6>

            <h6>
                七、	運用研究資料庫申請資料研究結束後，請註明保存期限及屆滿時需提供銷毀證明並載明資料銷毀處理的方式。
            </h6>

            <h6>
                八、	如違反使用本資料庫相關規定時，除繳回所有資料且提供銷毀證明外，本中心得停止本人及研究團隊申請使用本資料庫之權利。
            </h6>

            <h6>
                九、	申請者通過申請審核後，方得使用所申請資料，並有於申請前先瞭解本中新是否能提供符合需求之資料，若違反所有相關法令規定所致一切後果，皆由本人負全部責任。
            </h6>
            <br>

            <p> <b>本人確認已詳細閱讀相關規定，並完全瞭解其內容，願同意遵守之。</b></p>

            <br>

            <p><b> 本人(申請者)：　 　　　　　       　   (簽章)  日期：   　　年　　月　　日</b></p>

            <br>

            <div class="row m-0">
                <button type="button" class="btn btn-primary d-print-none" onclick="javascript:print()">列印文件</button>
                <button type="Submit" class="btn btn-primary ml-auto d-print-none">送出資料</button>
            </div>

        </div> <!-- .container -->
    </div> <!-- .page-section -->
    <script>
        let i = 1;

        function rowTemplate(i) {
            return `<tr data-index=${i}>
                                            <td>${i}</td>
                                            <td><input type="text" name="name-${i}"></td>
                                            <td><input type="text" name="indo-${i}"></td>
                                            <td><input type="text" name="department-${i}"></td>
                                            <td><input type="text" name="phone-${i}"></td>
                                            <td><input type="text" name="Email-${i}"></td>
                                            <td><i class="fa fa-times-circle" style="font-size: 22px; color: red;" onclick="removeRow(${i})"></i></td>
</tr>`
        }

        for (i = 1; i < 4; i++) {
            $('tbody').append(rowTemplate(i));
        }

        function removeRow(i) {
            $("tbody").find(`tr[data-index='${i}']`).remove();
        }

        function addRow() {
            $('tbody').append(rowTemplate(i));
            i++;
        }

        $(document).ready(function () {
            $(function () {
                $('input[name="daterange"]').daterangepicker({
                    "startDate": "2023/01/01",
                    "endDate": "2023/12/31",
                    opens: 'center',
                    locale: {
                        format: 'YYYY/MM/DD'
                    }
                });
            });
        });
    </script>
</main>